<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#linkTo index classNames="brand"}}PyRed{{/linkTo}}
            <div class="nav-collapse collapse">
                <nav>
                    <ul class="nav">
                        <li>{{#linkTo index}}Home{{/linkTo}}</li>
                        <li class="dropdown">{{#view App.NavDropdownView}}Accounts<b class="caret"></b>{{/view}}
                            <ul class="dropdown-menu" role="menu">
                                <li>{{#linkTo accounts.index}}List Accounts{{/linkTo}}</li>
                                <li>{{#linkTo accounts.new}}Add Account{{/linkTo}}</li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
