<section>
    <h1>Account</h1>
    <h2>{{email}}</h2>
    <dl class="dl-horizontal clearfix">
        <dt>Email</dt>
        <dd>{{email}}</dd>
        <dt>Registered</dt>
        <dd>{{created}}</dd>
        <dt>Last Login</dt>
        <dd></dd>
        <dt>Expires</dt>
        <dd></dd>
        <dt>Default Channel</dt>
        <dd>Default Channel</dd>
    </dl>
</section>
